.App {
  text-align: center; /* Centers text horizontally */
  height: 100vh; /* Takes full viewport height */
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Aligns content to the top */
  align-items: center; /* Centers content horizontally */
  margin: 0; /* Removes default margin */
  background-color: #282c34; /* Sets background color */
  color: white; /* Sets text color */
  font-size: calc(10px + 2vmin); /* Responsive font size */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  animation: App-logo-spin infinite 20s linear; /* Animation for logo */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34; /* Background color */
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers content horizontally */
  justify-content: center; /* Centers content vertically */
  font-size: calc(10px + 2vmin); /* Responsive font size */
  color: white; /* Text color */
}

.App-link {
  color: #61dafb; /* Link color */
}

.tagline {
  margin-top: 20vh; /* Top margin for positioning */
}
